
TD {
	FONT-SIZE: 14px; COLOR: #990000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif 
}
TR {
	FONT-SIZE: 1px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
HR {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BACKGROUND: #666666; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset; HEIGHT: 2px
}
A.mainlevel:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.mainlevel:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.mainmenu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.mainmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.mainlevel:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: underline
}
A.mainmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: underline
}
A.sublevel:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.sublevel:link {
	FONT-WEIGHT: normal; COLOR: #333333; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
A.sublevel:visited {
	FONT-WEIGHT: normal; COLOR: #333333; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, serif
}
TABLE.moduletable {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px; BORDER-LEFT: #000000 0px solid; WIDTH: 95%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletable TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #000000; TEXT-ALIGN: center
}
TABLE.moduletable TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
.contentpane {
	
}
.contentpaneopen {
	
}
.contentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentdescription {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.pathway {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.blogsection:link {
	FONT-WEIGHT: normal; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:visited {
	FONT-WEIGHT: normal; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blogsection:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.pathway:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.pathway:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.pathway:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.weblinks:link {
	FONT-WEIGHT: normal; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:visited {
	FONT-WEIGHT: normal; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.weblinks:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.readon:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.readon:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.readon:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.componentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.boxheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #faf4d8; BORDER-LEFT: 1px solid; COLOR: #000000; BORDER-BOTTOM: 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.inputbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #faf4d8; BORDER-LEFT: 1px solid; COLOR: #333333; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.slogan {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #f0f8ff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.searchsite {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.category {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.category:visited {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.category:hover {
	COLOR: #556b2f
}
.poll {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.sectiontableentry1 {
	BACKGROUND-COLOR: #ffffff
}
.sectiontableentry2 {
	BACKGROUND-COLOR: #ffffff
}
.sectiontableheader {
	FONT-WEIGHT: bold; COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #556b2f; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	MARGIN: 0px
}
LI {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(images/M_images/arrow.png)
}
.fase4rdf {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
A.fase4rdf:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #556b2f
}
A.fase4rdf:hover {
	FONT-WEIGHT: bold; COLOR: #808080
}
TABLE.searchintro {
	BACKGROUND-COLOR: #ffffff
}
TABLE.contact {
	BACKGROUND-COLOR: #ffffff
}
TABLE.contact TD.icons {
	BACKGROUND-COLOR: #ffffff
}
TABLE.contact TD.details {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
