.ThemeOfficeMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, sans-serif; WHITE-SPACE: nowrap
}
.ThemeOfficeSubMenuTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; FONT-FAMILY: verdana, arial, sans-serif; WHITE-SPACE: nowrap
}
.ThemeOfficeSubMenu {
	BORDER-RIGHT: #8c867b 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #8c867b 1px solid; PADDING-LEFT: 0px; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#F1E5BF, Direction=135, Strength=4); VISIBILITY: hidden; PADDING-BOTTOM: 0px; OVERFLOW: visible; BORDER-LEFT: #8c867b 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #8c867b 1px solid; POSITION: absolute
}
.ThemeOfficeSubMenuTable {
	OVERFLOW: visible
}
.ThemeOfficeMainItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemActive {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
.ThemeOfficeMainItem {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; COLOR: #FFFFFF; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.ThemeOfficeMainItemHover {
	BORDER-RIGHT: #efefef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #efefef 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #efefef 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #efefef 1px solid
}
TD.ThemeOfficeMainItemActive {
	BORDER-RIGHT: #efefef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #efefef 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #efefef 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #efefef 1px solid
}
.ThemeOfficeMainItemHover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FFFFFF
}
.ThemeOfficeMainItemActive {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #FFFFFF; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuItem {
	BACKGROUND-COLOR: #ffffff
}
.ThemeOfficeMenuItemHover {
	BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuItemActive {
	BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMainFolderLeft {
	
}
.ThemeOfficeMainItemLeft {
	
}
.ThemeOfficeMainFolderText {
	
}
.ThemeOfficeMainItemText {
	
}
.ThemeOfficeMainFolderRight {
	
}
.ThemeOfficeMainItemRight {
	
}
TD.ThemeOfficeMainFolderLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3169c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid
}
TD.ThemeOfficeMainItemLeft {
	PADDING-RIGHT: 2px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #3169c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid
}
TD.ThemeOfficeMainFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid; WHITE-SPACE: nowrap
}
TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: #3169c6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid
}
TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: #3169c6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3169c6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #3169c6 1px solid
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TR.ThemeOfficeMainItem TD.ThemeOfficeMainFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuFolderLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d5d5d5 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuItemLeft {
	PADDING-RIGHT: 3px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d5d5d5 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuFolderText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemText {
	PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItemRight {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d5d5d5 1px solid; WHITE-SPACE: nowrap
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #f1e5bf
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.ThemeOfficeMenuSplit {
	BORDER-TOP: #c6c3bd 1px solid; MARGIN: 2px; OVERFLOW: hidden; HEIGHT: 1px
}
.ThemeOfficeMenuItem IMG.seq1 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemHover seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItemActive seq2 {
	DISPLAY: inline
}
.ThemeOfficeMenuItem .seq2 {
	DISPLAY: none
}
.ThemeOfficeMenuItemHover .seq1 {
	DISPLAY: none
}
.ThemeOfficeMenuItemActive .seq1 {
	DISPLAY: none
}
